{% extends 'base.html' %}

{% block content%}
<div class="flowbite-card bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-3xl font-semibold mb-4">About Me</h1>
    <div class="about">
        <h2 class="text-2xl font-semibold mb-2">Introduction</h2>
        <p>Hi, I'm Mohammad Al-Smadi, a seasoned React Native Developer with a passion for learning and staying up-to-date with the latest technologies. With a strong background in embedded systems development using C programming language, I have also honed my skills in frontend development with HTML5, CSS3, and JavaScript, as well as backend development with Node.Js.

        My expertise extends to cloud database Firebase and Google Scholar for researching. I am a flexible and fast learner with a multicultural personality, which has allowed me to thrive in diverse environments. In addition, I have recently expanded my knowledge to web development with Python and React, as well as data science.
        
        I am excited to bring my unique skillset to new projects and clients, and to help bring their visions to life. Let's connect and see how we can work together.</p>
        <div class="mt-4">
            <h3 class="text-xl font-semibold">Download My CV</h3>
            <p>Click the button below to download my CV:</p>
            <a href="https://www.linkedin.com/in/mohammad-al-smadi-35a0171a1/overlay/1635508223270/single-media-viewer/?profileId=ACoAAC8qkjYBeKYHzxLejVDnlyoGkjA8KhXkHGA" download class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded inline-block">
                Download CV
            </a>
        </div>
    </div>
</div>
{% endblock content%}